<mat-toolbar class="mat-elevation-z3">
    <a mat-icon-button (click)="toggleSidenav()" class="link-unstyled">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </a>
    <ng-container>
      <img class="sidenav-logo mr-2" [src]="'content/images/logo.png'" />
      HealthConnect
      <span class="ml-2 version-text">{{ version }}</span>
    </ng-container>
    <div class="d-flex justify-content-end w-100">
      @if (hasAnyAuthority('ROLE_ADMIN')) {
        <hpd-admin-menu></hpd-admin-menu>
      }
      <hpd-chat-menu></hpd-chat-menu>
      <hpd-language-menu></hpd-language-menu>
      <hpd-setting-menu></hpd-setting-menu>
    </div>
  </mat-toolbar>