<div>
  <h2 id="page-heading" data-cy="HProfessionalHeading">
    <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.home.title">H Professionals</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-h-professional"
        [routerLink]="['/h-professional/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.home.createLabel">Create a new H Professional</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error />

  <hpd-alert />

  @if (hProfessionals().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.home.notFound">No H Professionals found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr hpdSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" hpdSortBy="id">
              <div class="d-flex">
                <span hpdTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="name">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="organisation">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.organisation">Organisation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="roster">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.roster">Roster</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="createdDate">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="createdBy">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="modifiedDate">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.modifiedDate">Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="modifiedBy">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.modifiedBy">Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="profile">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHProfessional.profile">Profile</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hProfessional of hProfessionals(); track trackId(hProfessional)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/h-professional', hProfessional.id, 'view']">{{ hProfessional.id }}</a>
              </td>
              <td>{{ hProfessional.name }}</td>
              <td>{{ hProfessional.organisation }}</td>
              <td>{{ hProfessional.roster }}</td>
              <td>{{ hProfessional.createdDate | formatMediumDate }}</td>
              <td>{{ hProfessional.createdBy }}</td>
              <td>{{ hProfessional.modifiedDate | formatMediumDate }}</td>
              <td>{{ hProfessional.modifiedBy }}</td>
              <td>{{ hProfessional.profile }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/h-professional', hProfessional.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/h-professional', hProfessional.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(hProfessional)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
