<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="hpd-hc-subscription-heading"
        data-cy="HCSubscriptionCreateUpdateHeading"
        hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.home.createOrEditLabel"
      >
        Create or edit a HC Subscription
      </h2>

      <div>
        <hpd-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_serviceId" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.serviceId"
            >Service Id</label
          >
          <input type="text" class="form-control" name="serviceId" id="field_serviceId" data-cy="serviceId" formControlName="serviceId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_patientId" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.patientId"
            >Patient Id</label
          >
          <input type="text" class="form-control" name="patientId" id="field_patientId" data-cy="patientId" formControlName="patientId" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_isActive" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.isActive"
            >Is Active</label
          >
          <input type="checkbox" class="form-check" name="isActive" id="field_isActive" data-cy="isActive" formControlName="isActive" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedDate" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.modifiedDate"
            >Modified Date</label
          >
          <div class="d-flex">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="datetime-local"
              class="form-control"
              name="modifiedDate"
              formControlName="modifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.createdBy"
            >Created By</label
          >
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedBy" hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.modifiedBy"
            >Modified By</label
          >
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span hpdTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
