<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="hpd-audit-log-heading" data-cy="AuditLogCreateUpdateHeading" hpdTranslate="adminDashboardApp.auditLog.home.createOrEditLabel">
        Create or edit a Audit Log
      </h2>

      <div>
        <hpd-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" hpdTranslate="adminDashboardApp.auditLog.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let actionTypeRef = editForm.get('actionType')!;
        <div class="mb-3">
          <label class="form-label" for="field_actionType" hpdTranslate="adminDashboardApp.auditLog.actionType">Action Type</label>
          <input
            type="text"
            class="form-control"
            name="actionType"
            id="field_actionType"
            data-cy="actionType"
            formControlName="actionType"
          />
          @if (actionTypeRef.invalid && (actionTypeRef.dirty || actionTypeRef.touched)) {
            <div>
              @if (editForm.get('actionType')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let userIdRef = editForm.get('userId')!;
        <div class="mb-3">
          <label class="form-label" for="field_userId" hpdTranslate="adminDashboardApp.auditLog.userId">User Id</label>
          <input type="text" class="form-control" name="userId" id="field_userId" data-cy="userId" formControlName="userId" />
          @if (userIdRef.invalid && (userIdRef.dirty || userIdRef.touched)) {
            <div>
              @if (editForm.get('userId')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_metadata" hpdTranslate="adminDashboardApp.auditLog.metadata">Metadata</label>
          <input type="text" class="form-control" name="metadata" id="field_metadata" data-cy="metadata" formControlName="metadata" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdBy" hpdTranslate="adminDashboardApp.auditLog.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_createdDate" hpdTranslate="adminDashboardApp.auditLog.createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedBy" hpdTranslate="adminDashboardApp.auditLog.modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_modifiedDate" hpdTranslate="adminDashboardApp.auditLog.modifiedDate">Modified Date</label>
          <div class="d-flex">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="datetime-local"
              class="form-control"
              name="modifiedDate"
              formControlName="modifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span hpdTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
