<div>
  <h2 id="page-heading" data-cy="HCSubscriptionHeading">
    <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.home.title">HC Subscriptions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hc-subscription"
        [routerLink]="['/hc-subscription/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.home.createLabel">Create a new HC Subscription</span>
      </button>
    </div>
  </h2>

  <hpd-alert-error />

  <hpd-alert />

  @if (hCSubscriptions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.home.notFound">No HC Subscriptions found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr hpdSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" hpdSortBy="id">
              <div class="d-flex">
                <span hpdTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="serviceId">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.serviceId">Service Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="patientId">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.patientId">Patient Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="isActive">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="createdDate">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="modifiedDate">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.modifiedDate">Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="createdBy">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" hpdSortBy="modifiedBy">
              <div class="d-flex">
                <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.modifiedBy">Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hCSubscription of hCSubscriptions(); track trackId(hCSubscription)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hc-subscription', hCSubscription.id, 'view']">{{ hCSubscription.id }}</a>
              </td>
              <td>{{ hCSubscription.serviceId }}</td>
              <td>{{ hCSubscription.patientId }}</td>
              <td>{{ hCSubscription.isActive }}</td>
              <td>{{ hCSubscription.createdDate | formatMediumDatetime }}</td>
              <td>{{ hCSubscription.modifiedDate | formatMediumDatetime }}</td>
              <td>{{ hCSubscription.createdBy }}</td>
              <td>{{ hCSubscription.modifiedBy }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/hc-subscription', hCSubscription.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/hc-subscription', hCSubscription.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(hCSubscription)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" hpdTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
