<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hCSubscription(); as hCSubscriptionRef) {
      <div>
        <h2 data-cy="hCSubscriptionDetailsHeading">
          <span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.detail.title">HC Subscription</span>
        </h2>

        <hr />

        <hpd-alert-error />

        <hpd-alert />

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.id }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.serviceId">Service Id</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.serviceId }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.patientId">Patient Id</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.patientId }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.isActive">Is Active</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.isActive }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.modifiedDate">Modified Date</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.modifiedDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.createdBy">Created By</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.createdBy }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.hcAdminServiceHCSubscription.modifiedBy">Modified By</span></dt>
          <dd>
            <span>{{ hCSubscriptionRef.modifiedBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/hc-subscription', hCSubscriptionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
