<div class="h-full w-full">
  <mat-sidenav-container class="sidebar-container" [autosize]="!isHandset()">
    <mat-sidenav
      class="sidenav light-bg"
      [style.width]="state.sidebarExpanded() ? '256px' : '80px'"
      [attr.role]="isHandset() ? 'dialog' : 'navigation'"
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()"
      [position]="'start'"
    >
      <hpd-sidebar></hpd-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content primary-light-bg">
      <div class="p-3 mr-auto ml-auto">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <hpd-footer></hpd-footer>
</div>
