<div class="h-100 w-100">
  <hdb-toolbar (sidenavToggle)="mainSidebar.toggle()"></hdb-toolbar>
  <mat-sidenav-container class="sidebar-container">
    <mat-sidenav
      #mainSidebar
      class="sidenav light-bg"
      [attr.role]="isHandset() ? 'dialog' : 'navigation'"
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()"
      [position]="'start'"
    >
      <hpd-sidebar></hpd-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content primary-light-bg">
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
