<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (address) {
      <div>
        <h2 data-cy="addressDetailsHeading"><span hpdTranslate="adminDashboardApp.adminMsAddress.detail.title">Address</span></h2>

        <hr />

        <hpd-alert-error></hpd-alert-error>

        <hpd-alert></hpd-alert>

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ address.id }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.digitalAddress">Digital Address</span></dt>
          <dd>
            <span>{{ address.digitalAddress }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.streetAddress">Street Address</span></dt>
          <dd>
            <span>{{ address.streetAddress }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.areaCode">Area Code</span></dt>
          <dd>
            <span>{{ address.areaCode }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.town">Town</span></dt>
          <dd>
            <span>{{ address.town }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.city">City</span></dt>
          <dd>
            <span>{{ address.city }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.district">District</span></dt>
          <dd>
            <span>{{ address.district }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.state">State</span></dt>
          <dd>
            <span>{{ address.state }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.region">Region</span></dt>
          <dd>
            <span>{{ address.region }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.country">Country</span></dt>
          <dd>
            <span>{{ address.country }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ address.createdDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.modifiedDate">Modified Date</span></dt>
          <dd>
            <span>{{ address.modifiedDate | formatMediumDate }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.createdBy">Created By</span></dt>
          <dd>
            <span>{{ address.createdBy }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.adminMsAddress.modifiedBy">Modified By</span></dt>
          <dd>
            <span>{{ address.modifiedBy }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
