/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: rgba(255, 255, 255, 0.55);
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;

  a.nav-link {
    font-weight: 400;
  }
  
  color: #29cece !important;
  background-color: #0c3b3b !important;
  border-bottom: #29cece 1px solid;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.nav-item {
  color: #29cece;
  background-color: #0c3b3b !important;

}


/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('/content/images/logo.png') no-repeat center center;
  background-size: contain;
}
