<nav data-cy="navbar" class="mb-5 border-b border-cyan-400/40 bg-[#0c3b3b] text-cyan-300 shadow-sm shadow-cyan-950/20">
  <div class="mx-auto flex max-w-screen-2xl flex-wrap items-center gap-3 px-4 py-3">
    <a routerLink="/" (click)="collapseNavbar()" class="flex min-w-0 items-center gap-3 text-inherit no-underline">
      <span class="logo-img shrink-0"></span>
      <span class="flex min-w-0 flex-col">
        <span hpdTranslate="global.title" class="truncate text-base font-semibold text-cyan-100">admin Dashboard</span>
        @if (version) {
          <span class="navbar-version">{{ version }}</span>
        }
      </span>
    </a>

    <button
      mat-icon-button
      type="button"
      class="ms-auto md:hidden"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="!isNavbarCollapsed"
      aria-label="Toggle navigation"
    >
      <mat-icon>{{ isNavbarCollapsed ? 'menu' : 'close' }}</mat-icon>
    </button>

    <div
      id="navbarResponsive"
      class="w-full md:ms-auto md:flex md:w-auto md:items-center"
      [class.hidden]="isNavbarCollapsed"
      [class.flex]="!isNavbarCollapsed"
    >
      <div
        class="flex w-full flex-col gap-2 border-t border-cyan-400/20 pt-3 md:flex-row md:flex-wrap md:items-center md:justify-end md:border-t-0 md:pt-0"
      >
        <a mat-button routerLink="/" (click)="collapseNavbar()" class="nav-action" [class.nav-action-active]="isRouteActive('/', true)">
          <mat-icon>home</mat-icon>
          <span hpdTranslate="global.menu.home">Home</span>
        </a>

        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        @if (account !== null) {
          <button
            *hpdHasAnyAuthority="'ROLE_ADMIN'"
            mat-button
            type="button"
            class="nav-action"
            [class.nav-action-active]="isAnyRouteActive(entityRoutes)"
            [matMenuTriggerFor]="entityMenu"
            data-cy="entity"
          >
            <mat-icon>widgets</mat-icon>
            <span hpdTranslate="global.menu.entities.main">Entities</span>
          </button>
        }

        <button
          *hpdHasAnyAuthority="'ROLE_ADMIN'"
          mat-button
          type="button"
          class="nav-action"
          [class.nav-action-active]="isAnyRouteActive(adminRoutes)"
          [matMenuTriggerFor]="adminMenu"
          data-cy="adminMenu"
        >
          <mat-icon>admin_panel_settings</mat-icon>
          <span hpdTranslate="global.menu.admin.main">Administration</span>
        </button>

        @if (languages && languages.length > 1) {
          <button mat-button type="button" class="nav-action" [matMenuTriggerFor]="languageMenu">
            <mat-icon>flag</mat-icon>
            <span hpdTranslate="global.menu.language">Language</span>
          </button>
          <mat-menu #languageMenu="matMenu" class="navbar-menu-panel">
            @for (language of languages; track language) {
              <button mat-menu-item type="button" [hpdActiveMenu]="language" (click)="changeLanguage(language)">
                <span>{{ language | findLanguageFromKey }}</span>
              </button>
            }
          </mat-menu>
        }

        <button
          mat-button
          type="button"
          class="nav-action"
          [class.nav-action-active]="isAnyRouteActive(accountRoutes)"
          [matMenuTriggerFor]="accountMenu"
          data-cy="accountMenu"
        >
          <span class="nav-account-visual" aria-hidden="true">
            @if (!account?.imageUrl) {
              <mat-icon>account_circle</mat-icon>
            } @else {
              <img [src]="account!.imageUrl" class="profile-image rounded-full" alt="Avatar" />
            }
          </span>
          <span hpdTranslate="global.menu.account.main">Account</span>
        </button>
      </div>
    </div>
  </div>
</nav>

<mat-menu #entityMenu="matMenu" class="navbar-menu-panel">
  @for (item of entitiesNavbarItems; track item.route) {
    <a
      mat-menu-item
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="collapseNavbar()"
    >
      <mat-icon>chevron_right</mat-icon>
      <span [hpdTranslate]="item.translationKey">{{ item.name }}</span>
    </a>
  }
</mat-menu>

<mat-menu #adminMenu="matMenu" class="navbar-menu-panel">
  @for (item of adminMenuItems; track item.route) {
    <a mat-menu-item [routerLink]="item.route" routerLinkActive="active" (click)="collapseNavbar()">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span [hpdTranslate]="item.translationKey">{{ item.name }}</span>
    </a>
  }
  @if (openAPIEnabled) {
    <a mat-menu-item routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
      <mat-icon>menu_book</mat-icon>
      <span hpdTranslate="global.menu.admin.apidocs">API</span>
    </a>
  }
  <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
</mat-menu>

<mat-menu #accountMenu="matMenu" class="navbar-menu-panel">
  @if (account !== null) {
    <a mat-menu-item routerLink="/account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
      <mat-icon>settings</mat-icon>
      <span hpdTranslate="global.menu.account.settings">Settings</span>
    </a>
    <a mat-menu-item routerLink="/account/password" routerLinkActive="active" (click)="collapseNavbar()" data-cy="passwordItem">
      <mat-icon>lock</mat-icon>
      <span hpdTranslate="global.menu.account.password">Password</span>
    </a>
    <button mat-menu-item type="button" (click)="logout()" id="logout" data-cy="logout">
      <mat-icon>logout</mat-icon>
      <span hpdTranslate="global.menu.account.logout">Sign out</span>
    </button>
  } @else {
    <button mat-menu-item type="button" (click)="login()" id="login" data-cy="login">
      <mat-icon>login</mat-icon>
      <span hpdTranslate="global.menu.account.login">Sign in</span>
    </button>
  }
</mat-menu>
