<form action="#" class="grid gap-4 md:grid-cols-[minmax(0,14rem)_1fr_auto]">
  <mat-form-field>
    <mat-label hpdTranslate="global.field.drop-down-box">Filter:</mat-label>
    <mat-select id="filter" name="filter" [(ngModel)]="filterSelected" (selectionChange)="setFilterSelected(filterSelected)">
      <mat-option *ngFor="let item of itemList" [value]="item.value">
        {{ item.name | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label hpdTranslate="global.field.searchBy">By:</mat-label>
    <input matInput type="text" name="searchInput" [(ngModel)]="searchInput" />
  </mat-form-field>

  <div class="flex items-start md:justify-end">
    <button mat-flat-button type="button" class="search-button !rounded-full !bg-slate-900 !px-4 !text-white" (click)="search()">
      Search
    </button>
  </div>
</form>
