<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (address(); as addressRef) {
      <div>
        <h2 data-cy="addressDetailsHeading"><span hpdTranslate="adminDashboardApp.address.detail.title">Address</span></h2>

        <hr />

        <hpd-alert-error />

        <hpd-alert />

        <dl class="row-md jh-entity-details">
          <dt><span hpdTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ addressRef.id }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.street">Street</span></dt>
          <dd>
            <span>{{ addressRef.street }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.district">District</span></dt>
          <dd>
            <span>{{ addressRef.district }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.town">Town</span></dt>
          <dd>
            <span>{{ addressRef.town }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.city">City</span></dt>
          <dd>
            <span>{{ addressRef.city }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.region">Region</span></dt>
          <dd>
            <span>{{ addressRef.region }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.code">Code</span></dt>
          <dd>
            <span>{{ addressRef.code }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.country">Country</span></dt>
          <dd>
            <span>{{ addressRef.country }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ addressRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span hpdTranslate="adminDashboardApp.address.modifiedDate">Modified Date</span></dt>
          <dd>
            <span>{{ addressRef.modifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span hpdTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/address', addressRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span hpdTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
