@if (feature) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(feature.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="featureDeleteDialogHeading" hpdTranslate="entity.delete.title">Confirm delete operation</h4>
    </div>

    <div class="modal-body">
      <hpd-alert-error />
      <p
        id="hpd-delete-feature-heading"
        hpdTranslate="adminDashboardApp.hcAdminServiceFeature.delete.question"
        [translateValues]="{ id: feature.id }"
      >
        Are you sure you want to delete Feature {{ feature.id }}?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button id="hpd-confirm-delete-feature" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span hpdTranslate="entity.action.delete">Delete</span>
      </button>
    </div>
  </form>
}
