<button mat-icon-button [matMenuTriggerFor]="settingMenu" aria-label="Settings menu">
  <mat-icon>settings</mat-icon>
</button>
<mat-menu #settingMenu="matMenu">
  <a mat-menu-item routerLink="/account/settings">
    <mat-icon>manage_accounts</mat-icon>
    <span>Settings</span>
  </a>
  <a mat-menu-item routerLink="/account/password">
    <mat-icon>lock</mat-icon>
    <span>Change Password</span>
  </a>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Sign Out</span>
  </button>
</mat-menu>
