:host {
  display: block;
}

:host ::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

:host ::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.45);
  border-radius: 9999px;
}

:host ::-webkit-scrollbar-track {
  background: transparent;
}
