<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="hpd-profile-heading" data-cy="ProfileCreateUpdateHeading" hpdTranslate="adminDashboardApp.profile.home.createOrEditLabel">
        Create or edit a Profile
      </h2>

      <div>
        <hpd-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" hpdTranslate="adminDashboardApp.profile.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let personIdRef = editForm.get('personId')!;
        <div class="mb-3">
          <label class="form-label" for="field_personId" hpdTranslate="adminDashboardApp.profile.personId">Person Id</label>
          <input type="text" class="form-control" name="personId" id="field_personId" data-cy="personId" formControlName="personId" />
          @if (personIdRef.invalid && (personIdRef.dirty || personIdRef.touched)) {
            <div>
              @if (editForm.get('personId')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let photoIdRef = editForm.get('photoId')!;
        <div class="mb-3">
          <label class="form-label" for="field_photoId" hpdTranslate="adminDashboardApp.profile.photoId">Photo Id</label>
          <input type="text" class="form-control" name="photoId" id="field_photoId" data-cy="photoId" formControlName="photoId" />
          @if (photoIdRef.invalid && (photoIdRef.dirty || photoIdRef.touched)) {
            <div>
              @if (editForm.get('photoId')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let contactIdRef = editForm.get('contactId')!;
        <div class="mb-3">
          <label class="form-label" for="field_contactId" hpdTranslate="adminDashboardApp.profile.contactId">Contact Id</label>
          <input type="text" class="form-control" name="contactId" id="field_contactId" data-cy="contactId" formControlName="contactId" />
          @if (contactIdRef.invalid && (contactIdRef.dirty || contactIdRef.touched)) {
            <div>
              @if (editForm.get('contactId')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let addressListRef = editForm.get('addressList')!;
        <div class="mb-3">
          <label class="form-label" for="field_addressList" hpdTranslate="adminDashboardApp.profile.addressList">Address List</label>
          <input
            type="text"
            class="form-control"
            name="addressList"
            id="field_addressList"
            data-cy="addressList"
            formControlName="addressList"
          />
          @if (addressListRef.invalid && (addressListRef.dirty || addressListRef.touched)) {
            <div>
              @if (editForm.get('addressList')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_roles" hpdTranslate="adminDashboardApp.profile.roles">Roles</label>
          <input type="text" class="form-control" name="roles" id="field_roles" data-cy="roles" formControlName="roles" />
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" hpdTranslate="adminDashboardApp.profile.status">Status</label>
          <input type="checkbox" class="form-check" name="status" id="field_status" data-cy="status" formControlName="status" />
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let organisationIdRef = editForm.get('organisationId')!;
        <div class="mb-3">
          <label class="form-label" for="field_organisationId" hpdTranslate="adminDashboardApp.profile.organisationId"
            >Organisation Id</label
          >
          <input
            type="text"
            class="form-control"
            name="organisationId"
            id="field_organisationId"
            data-cy="organisationId"
            formControlName="organisationId"
          />
          @if (organisationIdRef.invalid && (organisationIdRef.dirty || organisationIdRef.touched)) {
            <div>
              @if (editForm.get('organisationId')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let teamIdRef = editForm.get('teamId')!;
        <div class="mb-3">
          <label class="form-label" for="field_teamId" hpdTranslate="adminDashboardApp.profile.teamId">Team Id</label>
          <input type="text" class="form-control" name="teamId" id="field_teamId" data-cy="teamId" formControlName="teamId" />
          @if (teamIdRef.invalid && (teamIdRef.dirty || teamIdRef.touched)) {
            <div>
              @if (editForm.get('teamId')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let documentItemsRef = editForm.get('documentItems')!;
        <div class="mb-3">
          <label class="form-label" for="field_documentItems" hpdTranslate="adminDashboardApp.profile.documentItems">Document Items</label>
          <input
            type="text"
            class="form-control"
            name="documentItems"
            id="field_documentItems"
            data-cy="documentItems"
            formControlName="documentItems"
          />
          @if (documentItemsRef.invalid && (documentItemsRef.dirty || documentItemsRef.touched)) {
            <div>
              @if (editForm.get('documentItems')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdByRef = editForm.get('createdBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdBy" hpdTranslate="adminDashboardApp.profile.createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          @if (createdByRef.invalid && (createdByRef.dirty || createdByRef.touched)) {
            <div>
              @if (editForm.get('createdBy')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let createdDateRef = editForm.get('createdDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_createdDate" hpdTranslate="adminDashboardApp.profile.createdDate">Created Date</label>
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (createdDateRef.invalid && (createdDateRef.dirty || createdDateRef.touched)) {
            <div>
              @if (editForm.get('createdDate')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('createdDate')?.errors?.datetimelocal"
                hpdTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let modifiedByRef = editForm.get('modifiedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_modifiedBy" hpdTranslate="adminDashboardApp.profile.modifiedBy">Modified By</label>
          <input
            type="text"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
          @if (modifiedByRef.invalid && (modifiedByRef.dirty || modifiedByRef.touched)) {
            <div>
              @if (editForm.get('modifiedBy')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let modifiedDateRef = editForm.get('modifiedDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_modifiedDate" hpdTranslate="adminDashboardApp.profile.modifiedDate">Modified Date</label>
          <div class="d-flex">
            <input
              id="field_modifiedDate"
              data-cy="modifiedDate"
              type="datetime-local"
              class="form-control"
              name="modifiedDate"
              formControlName="modifiedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (modifiedDateRef.invalid && (modifiedDateRef.dirty || modifiedDateRef.touched)) {
            <div>
              @if (editForm.get('modifiedDate')?.errors?.required) {
                <small class="form-text text-danger" hpdTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('modifiedDate')?.errors?.datetimelocal"
                hpdTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span hpdTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span hpdTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
